<div class="jumbotron text-center">
    <div class="container-page">
            <div class="col-md-6">
                <h3 class="dark-grey">Registration</h3>

                <div class="form-group col-lg-12">
                    <input type="" name="" class="form-control" placeholder="Company Name" id="" value="">
                </div>

                <div class="form-group col-lg-6">
                    <input type="password" name="" class="form-control" placeholder="Password" id="" value="">
                </div>

                <div class="form-group col-lg-6">
                    <input type="password" name="" class="form-control" placeholder="Repeat Password" id="" value="">
                </div>

                <div class="form-group col-lg-6">
                    <input type="" name="" class="form-control" placeholder="Email Address" id="" value="">
                </div>

                <div class="form-group col-lg-6">
                    <input type="" name="" class="form-control" placeholder="Repeat Email Address" id="" value="">
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
</div>
